.Entry {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;

    form {
        border: 0.1rem solid #eaeaea;
        padding: 1.5rem 2rem;

        .alert {
            max-width: 15rem;
        }

        .title {
            margin: -0.4rem 0 0.8rem 0;
            text-align: center;
            font-size: 1.5rem;
            font-weight: 100;
            letter-spacing: 0.1rem;
        }
        
        .btn {
            margin-top: 0.5rem;
        }

        input[type="text"], input[type="password"] {
            min-width: 15rem;
        }
    }
}