input.icon {
    padding-left: 1.6rem!important;
    background-position: 2px;
    min-width: 13.9rem!important;
}

$icons: 'user' 'pass' 'menu' 'delete' 'done';

.icon {
    background-repeat: no-repeat!important;
    background-size: 20px;

    @each $item in $icons {
        &.#{$item} {
            background-image: url('./images/icons/#{$item}.png');
            
            &:focus, &:hover {
                background-image: url('images/icons/#{$item}_b.png');
            }
        }
    }
}